.main {
    background-color: #f4c400;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-orange {
    background-color: orange;
    color: white;
    border: none;
}
.btn-orange:hover {
    background-color: darkorange;
    color: white;
}
