body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  margin: 0;
   font-family: Arial, sans-serif;
  background-color: #e2ff3e;
}

.navbar {
    background-color: #0d47a1;
    padding: 20px;
    text-align: center;
}

.navbar a {
    background-color: #f4511e;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    display: inline-block;
}

}
